@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Fredoka+One&family=VT323&display=swap');

.divGrande{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulos{
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color:green;
}
.desc{
    font-family: 'Fredoka One', cursive;
    color:green;
    font-size: 20px;
}
.logoTipo{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.logoCarro{
    margin-top: 20px;
    margin-right: 10px;
 }

 .hr{
    width: 80%;
    border: 1px solid black;
}