@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Fredoka+One&family=VT323&display=swap');

.divGrande{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulos{
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color:green;
    margin-top: 10px;
}
.desc{
    font-family: 'Fredoka One', cursive;
    color:green;
    font-size: 20px;
    margin-top: 30px;
    font-family: Circular,Helvetica,sans-serif;
    width: 80vw;
}
.logoTipo{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.logoCarro{
    margin-top: 20px;
    margin-right: 10px;
 }

 .hr{
    width: 80%;
    border: 1px solid black;
}

.bordacodigo{
    margin-top:40px ;
}
.voltar{
    border: 3px solid green ;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-top: 35px;
    text-align: center;
    border-radius: 100px;
    font-family: 'Fredoka One', cursive;
    padding: 11px;
    font-size: 35px;
    color: green;
}
.logoVoltar{
    display: flex;
    justify-content: center
    
}