@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Fredoka+One&family=VT323&display=swap');
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 253, 221);
}
.divMae{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    box-shadow: 410px 140px 40px rgb(0, 0, 0);
}

.pergunta{
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    text-align: center;
}
.explicacao{
    font-family: 'Fredoka One', cursive;
    color: grey;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom:-30px ;
}
.opcoes{
    background-color:white;
    /* background-color: inherit; */
    font-size: 25px;
    text-align:left;
    width: 260px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0 0 10px #464646;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin-bottom:30px ;
    padding: 19px;
}

.logoTipo{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.logoCarro{
    margin-top: 20px;
    margin-right: 10px;
 }

 .hr{
    width: 80%;
    border: 1px solid black;
}
.voltar{
    border: 3px solid green ;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-top: 35px;
    text-align: center;
    border-radius: 100px;
    font-family: 'Fredoka One', cursive;
    padding: 11px;
    font-size: 35px;
    color: green;
}
.logoVoltar{
    display: flex;
    justify-content: center
    
}